.meet_container{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    margin-inline: 1rem ;
}

.meeting_logo img{
    height: auto;
    width: 40vw;
    min-height: 50vh;
    min-width: 200px;
}

.meet_container .genrate_meeting{
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}
.genrate_meeting h2{
    font-size: 2rem;
    color: rgb(243, 93, 39);
}
@media (max-width:577px) {
    .meet_container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: auto;
    }
    .genrate_meeting h2{
        font-size: 1.2rem;
    }
}